<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        html,body {
            height: 100%;
            background-color: rgb(20, 47, 129);
            margin: 0;
            font-family: "Poppins", sans-serif;
        }
        #topo{
            text-align: center;
            height: 20%;
        }
        h1{
            margin-top: 5px;
            font-size: 60px;
            color: white;
          
        }
        #imagem{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        #btnPesquisar{
          display: flex;
          justify-content: space-around;
          margin-bottom: 15px;
        }
        #btnOrdem{
          display: flex;
          justify-content: space-around;
        }
    </style>
</head>

<body>
    <nav>
        <ul class="nav justify-content-end">
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link disabled" href="#">Mostrar Lista</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="/cadastro">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="/editar">Editar</a>
        </li>
      </ul></nav>
    <div id="topo">
        <h1>Meus Animes</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
              <div id="imagem"><img src="" width="185px" height="250px"></div>
              <div id="btnPesquisar">
                <button type="button" class="btn btn-secondary btn-sm">Pesquisar por Nome</button>
                <button type="button" class="btn btn-secondary btn-sm">Pesquisar por Gênero</button>
              </div>
              <div id="btnOrdem">
                <button type="button" class="btn btn-secondary btn-sm">Ordenar por Nome</button>
                <button type="button" class="btn btn-secondary btn-sm">Ordenar por Nota</button>
              </div>
            </div>
            <div class="col-xl-8" style="height: 450px; overflow-y: auto;">
                <div class="table-responsive-md">
                    <table class="table table-striped table-bordered table-hover table-light">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Gênero</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Classificação</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% animes.forEach(function(anime){ %>
                          <tr>
                            <th scope="row"><%= anime.id_anime %></th>
                            <td><%= anime.nome %></td>
                            <td><%= anime.genero %></td>
                            <td><%= anime.nota %></td>
                            <td><%= anime.classificacao %></td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>